.flex-col1 {
  flex-basis: 70%;
}

.title-add-business {
  font-size: 1.9em;
}

.align-center-flex {
  align-items: center !important;
  justify-content: center !important;
}

.container-schedule {
  background-color: E4E4E4 !important;
}

.container-hours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.schedule-input {
  padding-top: 25px !important;
}

.chips-hour {
  color: var(--bone) !important;
  margin: 0 0.1rem 0.4rem 0.2rem;
}

.button-add-hour {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-left: 10px;
  background-color: var(--light-blue) !important;
}

.button-continue {
  width: 100%;
  height: 60px !important;
  background-color: var(--dark-blue) !important;
  color: var(--bone) !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-addBusiness {
    margin: 0 5rem 0 5rem;
  }
}

@media only screen and (min-width: 480px) {
  .container-addBusiness {
    margin: 0 10rem 0 10rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container-addBusiness {
    margin: 0 16rem 0 16rem;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1224px) {
  .container-addBusiness {
    margin: 0 16rem 0 16rem;
  }
}

@media only screen and (min-width: 1224px) {
  .container-addBusiness {
    margin: 0 25rem 0 25rem;
  }
}

@media only screen and (min-width: 1824px) {
}

@media screen and (min-width: 900px) {
  .container-addBusiness h3 {
    margin-top: 10px;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 900px) {
  .container-addBusiness {
    margin: 3em !important;
  }
  .container-addBusiness h3 {
    margin-top: -2px;
  }
}
