.no-margin {
  margin: 0;
}

.quantity {
  font-weight: bold;
}

.centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantityContainer {
  display: flex;
  width: 99px;
  height: 33px;
  border-radius: 40px;
  background-color: var(--lighter-blue);
  margin: 0 auto;
}

input[type="number"],
button {
  width: 33%;
  font-weight: bold;
  text-align: center;
}

input[type="number"] {
  background-color: white;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
