/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;900&family=Roboto:wght@300;400;900&display=swap");

/*
    NUNITO
    font-family: 'Nunito Sans', sans-serif;
        LIGHT
        font-weight: 300;
        BLACK
        font-weight: 900;
    ROBOTO
    font-family: 'Roboto', sans-serif;
        LIGHT
        font-weight: 300;
        REGULAR
        font-weight: 400;
        BLACK
        font-weight: 900;
*/

/* COLORS */
/*
  HEX
    AZUL CLARO: 28BFDB
    HUESO: F8F0EE
    ROJO CLARO: EF424C
    AZUL OSCURO 2D3440
*/

/* GENERAL */

:root {
  --light-blue: #28bfdb;
  --bone: #f8f0ee;
  --light-red: #ef424c;
  --dark-blue: #2d3440;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

.container {
  background-color: #ffffff !important;
}

.buttons-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-family: "Nunito", sans-serif;
  font-weight: 900 !important;
  font-size: 1.2em !important;
  text-transform: none !important;
  height: 50px !important;
  width: 70%;
}

.button-fab {
  width: 10%;
  width: 50px;
  height: 50px !important;
}

.gradient-background {
  background: var(--light-blue);
  background: linear-gradient(
    235deg,
    var(--light-blue) 0%,
    rgb(183, 233, 243) 100%
  );
}
