.filter-select {
  background-color: var(--light-blue);
}

.filter-select--active {
  background-color: var(--dark-blue);
}

.card-empty-cart {
  width: 50%;
  padding: 20px;
}

.title-cart {
  font-size: 2em;
}

.date-cart {
  font-size: 1.7em !important;
  margin-left: 2px;
  margin-top: -10px !important;
}

@media screen and (max-width: 900px) {
  .title-cart {
    margin-left: 2em;
  }
  .date-cart {
    margin-left: 2.4em;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 550px) {
  .title-cart {
    font-size: 1.5em;
  }
  .date-cart {
    font-size: 1.3em !important;
  }
  .card-empty-cart {
    width: 80%;
    padding: 20px;
  }
}
