.filter-select {
  background-color: var(--light-blue);
}

.filter-select--active {
  background-color: var(--dark-blue);
}

.card-empty-cart {
  width: 50%;
  padding: 20px;
}

.title-cart {
  font-size: 2em;
}

.date-cart {
  font-size: 1.7em !important;
  margin-left: 2px;
  margin-top: -10px !important;
}

.row-title-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reset-cart-btn {
  margin-right: -20px !important;
}

.order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.card-order {
  width: 45%;
  margin: 10px;
  padding: 20px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.order-img {
  object-fit: cover;
  width: 100% !important;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.container-img-order {
  width: 25%;
}

.container-info-order {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.container-buttons-order {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-delete-order {
  margin-top: 10px;
  width: 100px;
  height: 40px !important;
}

.footer-order {
  position: fixed !important;
  padding: 20px 10px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--bone) !important;
}

.total-order-container {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.button-order-area {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-confirm-order {
  width: 90% !important;
  padding: 20px 70px !important;
}

.label-business {
  max-height: 50px;
}

@media screen and (max-width: 1050px) {
  .card-order {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .title-cart {
    margin-left: 2em;
  }
  .date-cart {
    margin-left: 2.4em;
  }
}

@media screen and (max-width: 800px) {
  .container-img-order {
    width: 20%;
  }
  .container-info-order {
    width: 40%;
  }
  .container-buttons-order {
    width: 25%;
  }
}

@media screen and (max-width: 550px) {
  .title-cart {
    font-size: 1.5em;
  }
  .date-cart {
    font-size: 1.3em !important;
  }
  .card-empty-cart {
    width: 80%;
    padding: 20px;
  }
  .card-order {
    flex-direction: column !important;
  }
  .container-img-order {
    width: 30%;
  }
  .container-info-order {
    margin-top: 10px;
    width: 90%;
  }
  .container-buttons-order {
    width: 90%;
  }
  .quantityContainer {
    width: 90%;
    margin-top: 10px;
  }
  .button-delete-order {
    width: 90%;
  }
  .title-cart {
    margin-left: 1.5em;
  }
  .date-cart {
    margin-top: -3px !important;
    margin-left: 40px;
  }
}

@media screen and (min-width: 550px) {
  .footer-order h4 {
    font-size: 2em;
  }
  .footer-order h6 {
    font-size: 1.2em;
  }
}
